

.IdeaGem {
     padding: 0;
}

#idea .gem nav {
     padding: 0;
}

h1 {{
   margin: 0;
}

h2 {
   margin-bottom: 0;
}}

navbar {
  width:7rem;
}

img {
     background-color: rgb((143, 112, 112);
}

p {
     color: rgb(170, 130, 69)); 
}


p {
  font: pink
  }
